canvas {
    display: block;
    margin: auto;
    border: 1px solid black;
}

#tetris
{
	font-family: "Lucida Console", Monaco, monospace;
	letter-spacing:1.5em;
	font-size: large;
}
strong
{
	color:#ff0000;
}
.white
{
	color:white;
}
.cyan
{
	color:cyan;
}
.blue
{
	color:blue;
}
.orange
{
	color:orange;
}
.yellow
{
	color:yellow;
}
.green
{
	color:green;
}
.purple
{
	color:purple;
}
.red
{
	color:red;
}